
 <!-- modal inscription -->
 <div class="modal fade" id="ModalInscription" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ModalTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    INSCRIPTION</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" method="post">
                                   
                  <div class="col-12"> <h2>Information Anthentification</h2></div> 
                    <div class="col-md-12">
                      <label for="identifiant" class="form-label">Identifiant</label>
                      <input type="text" class="form-control is-valid" id="identifiant" name="identifiant" required>
                  </div>
                  <div class="col-md-6">
                      <label for="mpass" class="form-label">Mot de passe</label>
                      <input type="password" class="form-control is-valid" id="mpass" name="mpass" required>
                  </div>
                  <div class="col-md-6">
                      <label for="cpass" class="form-label">Confirmer le mot de passe</label>
                      <input type="password" class="form-control is-valid" id="cpass" name="cpass" required>
                  </div>                 
                  <span>_________________________________________________________________</span>
                  <div class="col-12"> <h2>Information personnels</h2></div>                  
                    <div class="col-md-6">
                      <label for="prenom" class="form-label">Prénom</label>
                      <input type="text" class="form-control is-valid" id="prenom" name="prenom" required>
                  </div>
                  <div class="col-md-6">
                      <label for="nom" class="form-label">Nom</label>
                      <input type="text" class="form-control is-valid" id="nom" name="nom" required>
                  </div>    
                  <div class="col-md-12">
                    <label for="dnaiss" class="form-label">Date de naissance</label>
                    <input type="date" class="form-control is-valid" id="dnaiss" name="dnaiss">
                  </div>
                  <div class="col-md-12">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control is-valid" id="adresse" name="adresse" required>
                </div>
                <div class="col-md-6">
                  <label for="telephone" class="form-label">Telephone</label>
                  <input type="text" class="form-control is-valid" id="telephone" name="telephone" required>
              </div>    
              <div class="col-md-6">
                <label for="courriel" class="form-label">Courriel</label>
                <input type="email" class="form-control is-valid" id="courriel" name="courriel" required>
                </div>
                  <div class="col-12"> <label class="form-label"></label></div>
                  <div class="col-12"><button class="btn btn-primary btn-perso" type="submit">S'inscrire</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
