
<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg bg-nav-perso">
    <div class="container-fluid nav-logo">     

     


      <img src="favicon.ico" alt="favicon" width="32" height="32"><b>WEEDSTORE</b>
      <button onClick="installapp();" id="install-app" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--accent-contrast">INSTALLER</button>
    

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-toolbar"
            aria-controls="nav-toolbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
          <ul class="navbar-nav">

          <div class="collapse navbar-collapse" id="nav-toolbar" >
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
              <li class="nav-item"><a class="nav-link"  href="http://127.0.0.1:3000/#Accueil"       style="color:white">Accueil</a></li>
              <li class="nav-item"><a class="nav-link"  href="#Produits"      style="color:white">Produits</a></li>
              <li class="nav-item"><a class="nav-link"  href="#Carriere"      style="color:white">Carriere</a></li>
              <li class="nav-item"><a class="nav-link"  href="#Contact"       style="color:white">Contact</a></li>   
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                 <li class="nav-item"><a class="nav-link"  href="#Profil"     style="color:white">Profil</a></li>
                <li class="nav-item"><a class="nav-link"  href="#Panier"      style="color:white">Panier</a></li>           
                <li class="nav-item"><a class="nav-link"  href="#Checkout"    style="color:white">Checkout</a></li>         
                <li class="nav-item"><a class="nav-link"  href="#Deconnexion" style="color:white">Deconnexion</a></li> 
           <!-- Non connecter -->
          <div class="collapse navbar-collapse" id="navbar-signout">
            <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#ModalInscription" href="#" style="color:white">Inscription</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#ModalConnexion" href="#" style="color:white">Connexion</a></li>
          </div>
          
              </div>
          
          
          </ul>
      </div>
                   
</nav>
<!-- Fin main navbar-->