<!-- crud navbar -->
<nav class="navbar navbar-expand-lg bg-nav-perso">
    

    <ul class="navbar-nav">
      <div class="container-fluid">

      <div class="collapse navbar-collapse" id="nav-toolbar">     
        <li class="nav-item">&nbsp;GESTION ADMINISTRATEUR</li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">&nbsp;<button data-bs-toggle="modal" data-bs-target="#ModalAjouter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--accent-contrast">Ajouter</button></li>                    
        <li class="nav-item">&nbsp;<button data-bs-toggle="modal" data-bs-target="#ModalModifier" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--accent-contrast">Modifier</button></li>            
        <li class="nav-item">&nbsp;<button data-bs-toggle="modal" data-bs-target="#ModalSupprimer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--accent-contrast">Supprimer</button></li>          
        <li class="nav-item">&nbsp;<button  onclick="requestPermission();" id="btn_notification" class="permission-notification mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--accent-contrast">Notification&nbsp;OFF</button></li>
      </div>  
    </div>                  
    </ul>
  </div>
       
  
</nav>
<!-- Fin de la barre de navigation -->