<!-- Options navbar -->
<nav class="navbar navbar-expand-lg bg-nav-perso">    
   
    <ul class="navbar-nav">
      <div class="collapse navbar-collapse" id="nav-toolbar">

        <li class="nav-item">&nbsp;MES PREFERENCES&nbsp;&nbsp;</li>
        <li class="nav-item">&nbsp;Notification&nbsp;<input type="checkbox" id="Checkbox_notification" onChange="Notification_OnChanged(this)" class="checkbox_notification"  width=10px height=10px >           </li>  
        <li class="nav-item">&nbsp;Langue&nbsp;
        <select name="LangueOptions_Select" id="LangueOptions_Select" class="LangueOptions_Select"  width=10px height=10px
        onChange="LangueOptions_OnChanged(this)"  >
        <option value="Francais">Francais</option>
        <option value="English">English</option>        
       </select>            
        <li class="nav-item">&nbsp;Theme&nbsp;
          <select name="ThemeOptions_Select" id="ThemeOptions_Select" class="ThemeOptions_Select"  width=10px height=10px
           onChange="ThemeOptions_OnChanged(this)"  >
           <option value="Clair">Clair</option>
           <option value="Sombre">Sombre</option>        
          </select>            
      </div>
    
                          
    </ul>
</div>
     
  
</nav>
<!-- Fin de la barre de navigation -->